@model PagedList.PagedList<WebBanHangOnline.Models.EF.News>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<link type="text/css" href="~/Content/assets/styles/main_styles.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<style>
    .news_section_container {
        margin-top: 180px;
    }

    .row_item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }

    .content-box h3 a {
        color: black;
    }

        .content-box h3 a:hover {
            opacity: 0.5;
        }
</style>
<div class="container news_section_container" style="margin-top:165px">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news">Tin tức</h1>
        </div>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="row row_item-new">
                    <div class="col-md-3">
                        <div class="img-box">
                            <a href="" title="@item.Title"><img src="@item.Image" alt="@item.Id" /></a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="content-box">
                            <h3><a href="tin-tuc/@item.Alias-n@(item.Id)" title="@item.Title">@item.Title</a></h3>
                            <div class="des-box">
                                @item.Description
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>

    </div>
</div>